input{
  text-align: center;
  outline:0;
}
h4{
  padding:10px;
}
.card{
  height: 100%;
}
.LoginForm-errors{
  color: red;
  font-size: 0.89em;
  font-weight: bold;
}
.error{
  border: 2px solid red;
}
